*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}
h1{
    margin: 35px 0;
    text-align: center;
    text-transform: capitalize;
    color: blueviolet;
    
}
.con{
    width: 100%;
    border: 1px solid rgb(239, 42, 42);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(115, 91, 138);

}
.image-section img{
    width: 100px;
    padding: 0;
    border: 1px dotted yellowgreen;
}
.image-section{
    
    width: 50%;
    text-align: center;
    
}
.text-section{
    padding: 0.5%;
    word-spacing: 20px;
    background-color: aqua;
}
@media(max-width:768px){
   h1{
    color: yellowgreen;
   }
   .con{
    display: block;
   }
   .text-section{
    width: 100%;
   }
   .image-section{
    width: 100%;
    margin: auto;
   }
   .image-section img{
    width: 100%;
    height: auto;
    padding: auto;
   }
   body{
    background-color: beige;
   }
}
@media(min-width:769px) and (max-width:1023px){
       .text-section{
        color: red;
        background-color: bisque;
       }
       body{
        background-color: aquamarine;
       }
}
@media(max-width:468px){
    .image-section img{
        padding: auto;
    }
    h1{
        color: aqua;
        font-size: 15px;
    }
    body{
        background-color: rgb(169, 144, 105);
    }
}
@media(min-width:1024px){
    .text-section{
        color: rgb(56, 56, 79);
        
    }
    body{
        background-color: rgb(213, 136, 136);
    }
}